@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-white { background-color: #F7F5F0; }
  .bg-white-2 { background-color: #FBF7F5; }
  .bg-blue { background-color: #00245B; }
  .bg-pale-yellow { background-color: #F7EFD2; }
  .bg-pale-yellow-2 { background: #DED9B7; }
  .bg-dark-red { background-color: #7D3232; }
  .bg-dark-violet { background-color: #332C2C; }
  .bg-light-brown { background-color: #E8DFCE; }
  .bg-mid-brown { background-color: #BFB7A5; }
  .bg-highlight { background-color: #F2E6A7; }
  .bg-true-dark { background-color: #1C1C1C; }

  .text-white { color: #F7F5F0; }
  .text-white-2 { color: #FBF7F5; }
  .text-blue { color: #00245B; }
  .text-pale-yellow { color: #F7EFD2; }
  .text-pale-yellow-2 { color: #DED9B7; }
  .text-dark-red { color: #7D3232; }
  .text-dark-violet { color: #332C2C; }
  .text-light-brown { color: #E8DFCE; }
  .text-mid-brown { color: #BFB7A5; }
  .text-highlight { color: #F2E6A7; }
  .text-true-dark { color: #1C1C1C; }

  .from-white {
    --tw-gradient-from: #F7F5F0;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(247,245,240,0));
  }
  .from-white-2 {
    --tw-gradient-from: #FBF7F5;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(251,247,245,0));
  }
  .from-blue {
    --tw-gradient-from: #00245B;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(0,36,91,0));
  }
  .from-pale-yellow {
    --tw-gradient-from: #F7EFD2;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(247,239,210,0));
  }
  .from-pale-yellow-2 {
    --tw-gradient-from: #DED9B7;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(222,217,183,0));
  }
  .from-dark-red {
    --tw-gradient-from: #7D3232;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(125,50,50,0));
  }
  .from-dark-violet {
    --tw-gradient-from: #332C2C;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(51,44,44,0));
  }
  .from-light-brown {
    --tw-gradient-from: #E8DFCE;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(232,223,206,0));
  }
  .from-mid-brown {
    --tw-gradient-from: #BFB7A5;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(191,183,165,0));
  }
  .from-highlight {
    --tw-gradient-from: #F2E6A7;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(242,230,167,0));
  }
  .from-true-dark {
    --tw-gradient-from: #1C1C1C;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(28,28,28,0));
  }
}
